* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'EB Garamond', serif;
    font-size: 2rem;
    color: white;
    background: url(./images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    padding: 1em;
}

h1 {
    margin: 0;
    text-align: center;
    letter-spacing: 2px;
    color: #bd9878;
    border-bottom: 1px solid #5a3a2479;
}

h2 {
    font-weight: 700;
}

p {
    font-weight: 500;
}

h2, p {
    margin: 0;
}

h2, .dice-section {
    text-align: center;
}

h2 {
    margin-bottom: .5em;
}

img {
    max-width: 90%;
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    object-position: 50% 20%;
    border-radius: 5px;
    border: 2px solid #1f1f1f;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.subtext {
    margin-left: .5em;
    padding: .5em;
}

.health-bar-inner, .health-bar-outer {
    width: 90%;
    border-radius: 2px;
}

.health-bar-outer {
    background-color: #3f3f3f87;
    margin-left: .5em;
}

.health-bar-inner {
    background-color: #0a5b49;
    height: 1vh;
    margin-top: .5em;
}

.danger {
    background: crimson;
}

.health-color, .attack-color {
    font-weight: 700;
}

.health-color {
    color: #0a5b49;
}

.attack-color {
    color: crimson;
}

.card {
    background: #1a1825c3;
    width: 25%;
    margin: .5em 0;
    border: 1px solid #5a3a24;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dice-section {
    background: #5a3a24;
    font-size: 2rem;
    padding: 0.5em 0;
    border-radius: 5px;
}

.dice, .placeholder-dice {
    display: inline-block;
    margin: .2em;
    background: #be5a04;
    color: #1A1825;
    border: 1px solid #bc8a5e;
    border-radius: 3px;
    padding: .25em .5em;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.placeholder-dice {
    color: #5a3a24;
    background: transparent;
}

.btn {
    background: #1a1825c3;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.511);
    border: none;
    border: 1px solid #776fa8;
    border-radius: 3px;
    cursor: pointer;
    margin: auto 1em;
    padding: 1em 2em;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: .3s;
}

.btn:focus, .btn:hover {
    background: #1A1825;
    color: #fff;
}

.end-game {
    background: #1a1825c3;
    padding: 1em 2.5em;
    border-radius: 5px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.end-game h2 {
    color: #bc8a5e;
}

.end-game h3 {
    padding: .5em;
}

.end-game h3, .end-game img {
    border: 2px solid #5a3a24;
    border-radius: 2px;
}

.end-game img {
    padding: 1em;
}


@media(max-width: 800px) {
    body {
        font-size: 1.5rem;
        padding: .5em;
    }

    img {
        max-width: 100%;
        width: 150px;
        height: 150px;
        object-fit: cover;
        object-position: 50% 20%;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .card {
        width: 50%;
        max-width: 300px;
    }

    .dice-section {
        background: #5a3a24;
        font-size: 1.5rem;
        border-radius: 5px;
    }

    .btn {
        width: 50%;
        margin: 0;
        margin: .1em 0;
    }

}